.single__blog__thumb1 {
  background: url(http://barangarooumbracocms.azurewebsites.net/media/1193/photovoltaic-cells-on-international-towers-barnangaroo.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  padding-top: 205px;
  padding-bottom: 205px;
}
